<div class="input-group">
    <input type="text" class="form-control" uib-datepicker-popup="{{bandCtrl.format}}" ng-model="bandCtrl.band.foundation"
           is-open="bandCtrl.popup.opened" datepicker-options="bandCtrl.dateOptions" ng-required="true"
           close-text="Close">
    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="bandCtrl.open()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
</div>

