<div ng-controller="HeaderCtrl as headerCtrl">

    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" ng-click="headerCtrl.navCollapsed = !headerCtrl.navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                Culturapia
                <small class="">Seu portal de música autoral</small>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="headerCtrl.navCollapsed && 'in'" id="header">
            <ul class="nav navbar-nav navbar-right"  uib-dropdown dropdown-append-to-body ng-if="$root.user">
                <li class="options">
                    <a href="" uib-dropdown-toggle><i class="glyphicon glyphicon-cog"></i></a>
                    <ul class=" dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                        <li role="menuitem" ng-click="headerCtrl.navigate('my-home')"><a href="">Minha Home</a></li>
                        <li class="divider"></li>
                        <li role="menuitem" ng-click="headerCtrl.logout()"><a href="">Sair</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="currentPlaying" >
                    <form class="navbar-form">
                        <strong>{{currentPlaying.title}}</strong> by {{currentPlaying.artist}}
                        <button type="button" class="btn btn-default" play-pause-toggle=""><span
                                class="glyphicon glyphicon-stop"
                                aria-hidden="true"></span>
                        </button>
                    </form>
                </li>
                <li ng-click="headerCtrl.navigate('home')"><a href="">Início</a></li>
                <li ng-click="headerCtrl.navigate('bands')"><a href="">Bandas</a></li>
                <li ng-click="headerCtrl.navigate('about')"><a href="">Quem Somos</a></li>
                <li ng-if="!$root.user" ng-click="headerCtrl.login()"><a href="">Entrar</a></li>
            </ul>


        </div>
    </nav>

</div>
