<div ng-controller="HeaderCtrl as headerCtrl">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle"
                        ng-click="headerCtrl.navCollapsed = !headerCtrl.navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    Culturapia
                    <small class="">Seu portal de música autoral</small>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse header" ng-class="headerCtrl.navCollapsed && 'in'">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form player">
                        <span ng-click="headerCtrl.openPlayer()">
                            <img src="../images/logo1.png" alt="" class="img-rounded player-picture">
                            <small ng-if="currentPlaying">
                                Tocando: <strong>{{currentPlaying.title}}</strong> by {{currentPlaying.artist}}
                            </small>
                        </span>
                        </form>
                    </li>
                    <li ng-click="headerCtrl.navigate('home')"><a href="">Início</a></li>
                    <li ng-click="headerCtrl.navigate('bands')"><a href="">Bandas</a></li>
                    <li><a href="https://docs.google.com/document/d/1En9Nkw27knWB984-0bapOpirS4_OigrAy_jB7eowsx0/edit" target="_blank"><span class="glyphicon glyphicon-question-sign"></span></a></li>
                    <!--li ng-click="headerCtrl.navigate('about')"><a href="">Quem Somos</a></li-->
                    <li ng-if="!$root.user" ng-click="headerCtrl.login()"><a href="">Entrar</a></li>
                    <li ng-if="$root.user" uib-dropdown>
                        <a id="menu-btn" uib-dropdown-toggle>
                            <span>Olá, {{$root.user.name.split(" ")[0]}}  </span>
                            <span ng-if="$root.user.profilePicture">
                            <img ng-src="{{$root.user.profilePicture}}"
                                 class="img-circle pull-right user-profile-picture" alt="">
                        </span>
                            <span>
                            <img ng-if="!$root.user.profilePicture" src="../images/profilePic.jpg"
                                 class="img-circle pull-right user-profile-picture" alt="">
                        </span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="menu-btn">
                            <li role="menuitem" ng-click="headerCtrl.myProfile()"><a>Meu Perfil</a></li>
                            <li role="menuitem" ng-click="headerCtrl.myBand()"><a>Minha Banda</a></li>
                            <li class="divider"></li>
                            <li role="menuitem" ng-click="headerCtrl.logout()"><a>Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>
