body {
    background-color: #222;
    padding-top: 70px;
}

.body-padding {
    padding-left: 10%;
    padding-right: 10%
}

.media-thumbnail {
    height: 80px;
}

.btn-group-padding {
    padding-left: 0;
    padding-right: 0;
}

.btn-group-font-size {
    font-size: x-small;
}

.notice-padding {
    padding: 10px;
}

.register-padding {
    padding: 20px;
}

.user-profile-picture {
    height: 40px;
    margin-top: -10px;
    margin-left: 5px;
}

.media-center {
    margin: auto;
}

div.navbar-collapse.collapse {
    display: block;
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: max-height .3s ease;
    -moz-transition: max-height .3s ease;
    -o-transition: max-height .3s ease;
    transition: max-height .3s ease;
}

div.navbar-collapse.collapse.in {
    max-height: 2000px;
}

.band-profile-pic {
    margin: auto;
}

.band-profile-pic button {
    position: absolute;
    right: 25px;
    top: 10px;
}

.trash-can {
    position: absolute;
    right: 25px;
    top: 10px;
}

.textarea {
    resize: none;
}

.add-row {
    margin-top: -20px;
}

.add-video {
    padding-right: 20px;
}

.video-modal-title {
    margin-top: -20px;
}

.menu {
    margin-bottom: 20px;
}

.span-filter-form {
    padding-left: 20px;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

.square {
    padding-bottom: 10%; /* = width for a 1:1 aspect ratio */
    margin: 1.66%;
    overflow: hidden;
}

.video-card {
    padding: 0;
    border: 0;
}

.video-card .btn {
    border: 0;
}

.btn {
    border: 0
}

.video-card .image {
    background-image: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.video-card .image .thumbnail-square {
    left: 0;
    top: 0;
    right: 0;
    padding-top: 5px;
}

.video-card-footer {
    padding: 0;
    border: 0;
}

.video-card-header {
    padding: 10px;
    border: 0;
}

.video-card:hover {
    cursor: pointer;
}

.like-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 4px;
}

#menu-btn:hover {
    background-color: #DDD;
}

.photo-btn {
    border: #cccccc 1px solid;
}

.dropdown-menu-right {
    padding: 5px;
}

.confirmation {
    margin-top: -30px !important;
}

.player-picture{
    height: 40px;
    cursor: pointer;
    margin-left: 20px;
}


.logo{
    padding: 50px;
}

.navbar-nav > li > a {

    padding-top: 18px;
    padding-bottom: 18px;
}

.fc-unthemed .fc-today {
    background: #f5f5f5;
}

.fc-left h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.panel-default > .panel-heading {
    background-color: #fff;
}

.well.band-history{
    background-color: #fff;
}

.hand{
    height: 20px;
}

.four-o-four-frame {
    padding: 5%;
}

.four-o-four-pic {
    height: 40vh;
}

.four-o-four-title {
    font-size: 10em;
}

.four-o-four-box {
    padding: 10%;
    background-color: #f5f5f5;
}