.user-profile-picture {
    height: 40px;
    margin-top: -10px;
    margin-left: 5px;
}

div.navbar-collapse.collapse {
    display: block;
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: max-height .3s ease;
    -moz-transition: max-height .3s ease;
    -o-transition: max-height .3s ease;
    transition: max-height .3s ease;
}

div.navbar-collapse.collapse.in {
    max-height: 2000px;
}

#menu-btn:hover {
    background-color: #DDD;
}

.player-picture{
    height: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.navbar-nav > li > a {
    padding-top: 18px;
    padding-bottom: 18px;
}