<div class="panel panel-default video-card" ng-click="videoCard.openVideo(video)">
    <div class="panel-heading video-card-header">
        <ul class="nav navbar-nav navbar-right" uib-dropdown dropdown-append-to-body>
            <li class="options">
                <a href="" uib-dropdown-toggle ng-click="$event.stopPropagation()"><i
                        class="glyphicon glyphicon-option-vertical"></i></a>
                <ul class=" dropdown-menu-right" uib-dropdown-menu role="menu"
                    aria-labelledby="btn-append-to-body">
                    <li role="menuitem" ng-click="videoCard.reportedContent(video)"><a href=""><span
                            class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Denunciar</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li>
                {{video.title}}<br>
                <span style="font-size: x-small">{{video.band}}</span>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 image">
        <div ng-transclude></div>
    </div>
    <div class="panel-footer video-card-footer">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group" ng-click="$event.stopPropagation()">
                <button ng-class="{'btn':true, 'btn-info':video.likedByUser, 'btn-default':!video.likedByUser, 'like-button':true}"
                        ng-click="videoCard.likedContent(video)">{{video.likes.length}} <span
                        class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
            </div>
            <div class="btn-group" role="group" ng-click="$event.stopPropagation()">
                <button ng-class="{'btn':true, 'btn-default':true}"
                        ng-click="videoCard.feed({title: video.band, description: video.description, bandId: video.bandId, picture: 'http://img.youtube.com/vi/'+video.videoId+'/mqdefault.jpg'})"><span
                        class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
</div>
