<!-- MODAL HEADER -->
<div class="modal-header well well-md">
    <!-- CANCEL BUTTON -->
    <button type="button" class="close" aria-hidden="true" ng-click="bandStatsCtrl.cancel()">&times;</button>
    <!-- MODAL TITLE -->
    <h4 class="modal-title">{{bandStatsCtrl.band.name}} | Estatísticas</h4>
</div>

<!-- MODAL BODY -->
<div class="modal-body">

    <uib-tabset type="pills" justified="true">
        <uib-tab index="0" heading="Curtidas">
            <br>
            <div class="panel panel-default">
                <div class="panel-body">

                    <h3 class="well">Total <span class="badge">{{bandStatsCtrl.band.contentLikes.length}}</span></h3>
                    <br>

                    <uib-accordion close-others="true">
                        <div uib-accordion-group class="panel-default">
                            <div uib-accordion-heading>
                                <h5><b>Conteúdo</b></h5>
                            </div>

                            <div class="col-lg-6">
                                <div class="well">
                                    Banda <span class="badge">{{bandStatsCtrl.band.likes.length}}</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="well">
                                    Vídeos <span class="badge">{{bandStatsCtrl.videoLikes}}</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="well">
                                    Fotos <span class="badge">{{bandStatsCtrl.photoLikes}}</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="well">
                                    Postagens <span class="badge">{{bandStatsCtrl.noticeLikes}}</span>
                                </div>
                            </div>

                        </div>

                        <div uib-accordion-group class="panel-default">
                            <div uib-accordion-heading>
                                <h5><b>Localização</b></h5>
                            </div>

                            <div ng-repeat="(city, cityStats) in bandStatsCtrl.cityLikes">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5><b>{{city || 'Sem Localização'}} </b> <span class="badge">{{cityStats.count}}</span>
                                        </h5>
                                    </div>

                                    <div class="panel-body" ng-if="city">
                                        <div class="col-lg-12"><b>Bairros:</b></div>
                                        <hr>
                                        <div class="col-lg-6"
                                             ng-repeat="(neighborhood, neighborhoodStats) in cityStats.neighborhoods">
                                            <div class="well">
                                                {{neighborhood}} <span class="badge">{{neighborhoodStats}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>

        </uib-tab>
        <uib-tab index="1" heading="Enquete">
            <uib-accordion close-others="true">
                <br>
                <div uib-accordion-group class="panel-default"
                     ng-repeat="question in bandStatsCtrl.band.questions">

                    <div uib-accordion-heading>
                        <span class="badge pull-right">{{question.responses.length}}</span>
                        <h5>{{question.description}}</h5>
                    </div>

                    <div ng-repeat="alternative in question.alternatives">
                        <div class="well well-sm">
                            <span class="badge pull-right" ng-bind="bandStatsCtrl.count(question.responses, alternative)"></span>
                            <span class="pull-right">&nbsp;-&nbsp;</span>
                            <span class="badge pull-right">
                                {{((bandStatsCtrl.count(question.responses, alternative)/question.responses.length)*100).toFixed(1)+' %'}}
                            </span>
                            {{alternative.description}}
                        </div>
                    </div>
                </div>
            </uib-accordion>
        </uib-tab>
    </uib-tabset>


</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="bandStatsCtrl.cancel()">Fechar</button>
</div>