<!-- MODAL HEADER -->
<div class="modal-header well well-md">
    <!-- CANCEL BUTTON -->
    <button type="button" class="close" aria-hidden="true" ng-click="photoCtrl.cancel()">&times;</button>
    <!-- MODAL TITLE -->
    <h4 class="modal-title">{{photoCtrl.band.name}} | Fotos</h4>
</div>

<!-- MODAL BODY -->
<div class="modal-body">
    <!-- ADD PHOTO -->
    <span ng-hide="photoCtrl.file" class="btn btn-primary pull-right" ngf-select
          ng-model="photoCtrl.file"
          ngf-pattern="'image/*'"
          ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">Adicionar Imagem
    </span>
    <form ng-show="photoCtrl.file" ng-submit="photoCtrl.submit()" class="form-horizontal">
        <!-- REMOVE SIGN -->
        <img ng-src="{{photoCtrl.file | ngfDataUrl}}" class="img-responsive img-thumbnail center-block"
             alt="Responsive image">
        <br>
        <div class="form-group">
            <label class="col-md-2 control-label">Descrição</label>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Descrição" ng-model="photoCtrl.description"
                       required>
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <button type="submit" class="btn btn-primary pull-right">Adicionar</button>
    </form>
    <div class="clearfix"></div>
    <br>
    <!-- PHOTO GRID -->

    <div class="panel panel-default" ng-repeat="photo in photoCtrl.band.photos | filter:{isDeleted:'0'}">
        <div class="panel-heading">
            <a class="pull-right" ng-click="photoCtrl.removePhoto(photo)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <img src="http://server.culturapia.com.br/{{photo.path}}" class="img-responsive media-center">
            <br>
            <p class="well" ng-if="photo.description">{{photo.description}}</p>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="photoCtrl.cancel()">Fechar</button>
</div>