<!-- MODAL HEADER -->
<div class="modal-header well well-md">
    <!-- CANCEL BUTTON -->
    <button type="button" class="close" aria-hidden="true" ng-click="audioCtrl.cancel()">&times;</button>
    <!-- MODAL TITLE -->
    <h4 class="modal-title">{{audioCtrl.band.name}} | Músicas</h4>
</div>

<!-- MODAL BODY -->
<div class="modal-body">
    <!-- ADD AUDIO -->
    <span ng-hide="audioCtrl.file" class="btn btn-primary pull-right" ngf-select="" ngf-accept="'audio/*'"
          ng-model="audioCtrl.file" ng-if="!audioCtrl.isDisabled">Adicionar Música
    </span>
    <div class="text-center" ng-if="audioCtrl.isDisabled">Limite de músicas atingido.</div>
    <div class="text-center" ng-if="audioCtrl.isDisabled && audioCtrl.band.type === '1'">Torne-se premium para adicionar mais músicas.</div>
    <div ng-show="audioCtrl.file">
        <!-- REMOVE SIGN -->
        <form name="myForm" class="panel-body" ng-submit="audioCtrl.submit()">
            <label>Nome da Música</label>
            <input class="form-control" type="text"  maxlength="50" placeholder="Digite o nome da música..." ng-model="audioCtrl.newAudioName" required/>
            <br>
            <audio ng-src="{{audioCtrl.file | ngfDataUrl | trusted}}" controls></audio>
            <br>
            <div ng-if="audioCtrl.progressBar"><uib-progressbar class="progress-striped" value="audioCtrl.progress" type="warning">{{audioCtrl.progress}}%</uib-progressbar></div>
            <hr>
            <button type="submit" class="btn btn-primary pull-right" >Adicionar</button>
        </form>
    </div>
    <div class="clearfix"></div>
    <br>
    <div class="panel panel-default" ng-repeat="audio in audioCtrl.band.audios | filter:{isDeleted:'0'}">
        <div class="panel-heading">
            <h5><strong>{{audio.name}}</strong></h5>
        </div>
        <div class="panel-body">
            <audio ng-src="{{audioCtrl.baseUrl + '/' + audio.path | trusted}}" controls></audio>
            <a class="pull-right"
                    ng-model="singleModel"
                    uib-btn-checkbox
                    btn-checkbox-true="1"
                    btn-checkbox-false="0"
                    class="btn btn-xs btn-danger"
                    mwl-confirm
                    title="Confirmar Exclusão"
                    message="Deseja excluir este conteúdo?"
                    confirm-text="Confirmar"
                    cancel-text="Cancelar"
                    on-confirm="audioCtrl.removeAudio(audio)"
                    confirm-button-type="danger"
                    placement="bottom"
                    popover-class=".confirmation"
                    cancel-button-type="default">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="audioCtrl.cancel()">Fechar</button>
</div>