<!-- MODAL HEADER -->
<div class="modal-header well well-md">
    <!-- CANCEL BUTTON -->
    <button type="button" class="close" aria-hidden="true" ng-click="bandCtrl.cancel()">&times;</button>
    <!-- MODAL TITLE -->
    <h4 class="modal-title">Culturapia | Detalhes da Banda</h4>
</div>

<!-- MODAL BODY -->
<div class="modal-body">
    <!-- BAND NAME -->
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">Nome</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="bandCtrl.band.name"
                       placeholder="Digite o nome de sua banda...">
            </div>
        </div>
    </form>

    <!-- DATEPICKER -->
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">Fundação</label>
            <div class="col-md-10" ng-include="'/views/includes/datepicker.html'"></div>
        </div>
    </form>
    <hr/>

    <!-- BAND HISTORY -->
    <label>História</label>
    <textarea class="form-control textarea" rows="4" placeholder="O que está pensando?"
              ng-model="bandCtrl.band.about" required></textarea>
    <hr/>

    <!-- MEMBERS TABLE -->
    <div class="col-md-4">

        <!-- TABLE HEADER-->
        <div>
            <!-- TABLE NAME-->
            <label>Integrantes</label>

            <!-- ADD SIGN -->
            <a class="pull-right" ng-hide="bandCtrl.memberInput"
               ng-click="bandCtrl.memberInput = !bandCtrl.memberInput">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </div>

        <!-- TABLE BODY -->
        <table class="table table-hover">
            <tr ng-repeat="member in bandCtrl.band.members">
                <td class="text-capitalize">
                    <!-- ROW VALUE -->
                    {{member}}

                    <!-- REMOVE SIGN-->
                    <a class="pull-right" ng-click="bandCtrl.removeMember(member)">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </table>

        <!-- ADD FORM -->
        <span class="input-group add-row" ng-show="bandCtrl.memberInput">

            <!-- ADD INPUT -->
            <input type="text" class="form-control" ng-model="bandCtrl.newMember"
                   placeholder="Adicione um integrante...">

            <!-- ADD BUTTON-->
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                        ng-click="bandCtrl.addMember(bandCtrl.newMember.toLowerCase())"><span
                        class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </span>
        </span>

    </div>

    <!-- STYLES TABLE -->
    <div class="col-md-4">

        <!-- TABLE HEADER-->
        <div>
            <!-- TABLE NAME-->
            <label>Estilos</label>

            <!-- ADD SIGN -->
            <a class="pull-right" ng-hide="bandCtrl.styleInput" ng-click="bandCtrl.styleInput = !bandCtrl.styleInput">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </div>

        <!-- TABLE BODY -->
        <table class="table table-hover">
            <tr ng-repeat="style in bandCtrl.band.styles">
                <td class="text-capitalize">
                    <!-- ROW VALUE -->
                    {{style}}

                    <!-- REMOVE SIGN-->
                    <a class="pull-right" ng-click="bandCtrl.removeStyle(style)">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </table>

        <!-- ADD FORM -->
        <span class="input-group add-row" ng-show="bandCtrl.styleInput">

            <!-- ADD INPUT -->
            <input type="text" class="form-control" ng-model="bandCtrl.newStyle" placeholder="Adicione um estilo...">

            <!-- ADD BUTTON-->
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                        ng-click="bandCtrl.addStyle(bandCtrl.newStyle.toLowerCase())"><span
                        class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </span>
        </span>

    </div>

    <!-- INFLUENCES TABLE -->
    <div class="col-md-4">

        <!-- TABLE HEADER-->
        <div>
            <!-- TABLE NAME-->
            <label>Influências</label>

            <!-- ADD SIGN -->
            <a class="pull-right" ng-hide="bandCtrl.influenceInput"
               ng-click="bandCtrl.influenceInput = !bandCtrl.influenceInput">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </div>

        <!-- TABLE BODY -->
        <table class="table table-hover">
            <tr ng-repeat="influence in bandCtrl.band.influences">
                <td class="text-capitalize">
                    <!-- ROW VALUE -->
                    {{influence}}

                    <!-- REMOVE SIGN-->
                    <a class="pull-right" ng-click="bandCtrl.removeInfluence(influence)">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </table>

        <!-- ADD FORM -->
        <span class="input-group add-row" ng-show="bandCtrl.influenceInput">

            <!-- ADD INPUT -->
            <input type="text" class="form-control" ng-model="bandCtrl.newInfluence"
                   placeholder="Adicione uma influência...">

            <!-- ADD BUTTON-->
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                        ng-click="bandCtrl.addInfluence(bandCtrl.newInfluence.toLowerCase())"><span
                        class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </span>
        </span>

    </div>

    <div class="clearfix"></div>

    <hr>

    <!-- CONTACT -->
    <div class="row">
        <div class="col-md-6">
            <label>Estado</label>
            <select class="form-control"
                    ng-model="bandCtrl.band.state"
                    ng-change="bandCtrl.setState()">
                <option ng-value="bandCtrl.band.state">{{bandCtrl.states[bandCtrl.band.state].name}}</option>
                <option ng-repeat="state in bandCtrl.states" ng-value="$index">{{state.name}}
                </option>
            </select>
        </div>
        <div class="col-md-6">
            <label>Cidade</label>
            <select class="form-control"
                    ng-model="bandCtrl.band.city">
                <option ng-value="bandCtrl.band.city">{{bandCtrl.cities[bandCtrl.band.city]}}</option>
                <option ng-repeat="city in bandCtrl.cities" ng-value="$index">{{city}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Email</label>
            <input type="text" class="form-control" ng-model="bandCtrl.band.email" required/>
        </div>
        <div class="col-md-6">
            <label>Telefone</label>
            <input type="text" class="form-control" ng-model="bandCtrl.band.phone" required ui-br-phone-number/>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="bandCtrl.save()">Save</button>
    <button type="button" class="btn btn-danger" ng-click="bandCtrl.cancel()">Cancel</button>
</div>