<!-- MODAL HEADER -->
<div class="modal-header well well-md">
    <!-- CANCEL BUTTON -->
    <button type="button" class="close" aria-hidden="true" ng-click="videoCtrl.cancel()">&times;</button>
    <!-- MODAL TITLE -->
    <h4 class="modal-title">{{videoCtrl.band.name}} | Vídeos</h4>
</div>

<!-- MODAL BODY -->
<div class="modal-body">
    <!-- ADD VIDEO -->
    <form class="form-horizontal" ng-show="videoCtrl.newVideoForm">
        <div class="form-group">
            <label class="col-md-3 control-label">Link YouTube</label>
            <div class="col-md-9">
                <input type="url" class="form-control" maxlength="150" placeholder="Link do YouTube" ng-model="videoCtrl.newVideo.url"
                       required>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="col-md-3 control-label">Nome da Música</label>
            <div class="col-md-9">
                <input type="text" class="form-control" maxlength="150" placeholder="Nome da Música" ng-model="videoCtrl.newVideo.title"
                       required>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="col-md-3 control-label">Descrição</label>
            <div class="col-md-9">
                <input type="text" class="form-control" maxlength="150" placeholder="Descrição"
                       ng-model="videoCtrl.newVideo.description"
                       required>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="col-md-3 control-label">Estilo</label>
            <div class="col-md-9">
                <select class="form-control text-capitalize"
                        ng-model="videoCtrl.newVideo.style"
                        ng-options="style.style as style.style for style in videoCtrl.styles">
                </select>
            </div>
        </div>
        <div class="text-center">
            <small>*Adicione um estilo para aparecer nos filtros.</small>
        </div>
        <br>
        <div class="form-group text-right add-video">
            <button type="submit" class="btn btn-primary" ng-click="videoCtrl.addVideo()">Adicionar</button>
            <button type="button" class="btn btn-danger" ng-click="videoCtrl.newVideoForm = !videoCtrl.newVideoForm">
                Cancelar
            </button>
        </div>
        <hr>
    </form>

    <button class="btn btn-primary pull-right video-modal-title" type="button" ng-hide="videoCtrl.newVideoForm"
            ng-click="videoCtrl.newVideoForm = !videoCtrl.newVideoForm" ng-if="!videoCtrl.isDisabled">Adicionar Vídeo
    </button>
    <div class="text-center" ng-if="videoCtrl.isDisabled">Limite de vídeos atingido.</div>
    <div class="text-center" ng-if="videoCtrl.isDisabled && videoCtrl.band.type === '1'">Torne-se premium para adicionar mais vídeos.</div>
    <div class="clearfix"></div>
    <br>

    <!-- VIDEOS -->
    <div class="panel panel-default" ng-repeat="video in videoCtrl.band.videos | filter:{isDeleted:'0'}">
        <div class="panel-heading">
            <!-- REMOVE SIGN-->
            <a class="pull-right"
               ng-model="singleModel"
               uib-btn-checkbox
               btn-checkbox-true="1"
               btn-checkbox-false="0"
               class="btn btn-xs btn-danger"
               mwl-confirm
               title="Confirmar Exclusão"
               message="Deseja excluir este conteúdo?"
               confirm-text="Confirmar"
               cancel-text="Cancelar"
               on-confirm="videoCtrl.removeVideo(video)"
               confirm-button-type="danger"
               placement="bottom"
               popover-class=".confirmation"
               cancel-button-type="default">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
            <h3 class="panel-title text-capitalize">{{video.title}}</h3>
        </div>
        <div class="panel-body">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        src="{{'https://www.youtube.com/embed/'+video.videoId | trusted}}"></iframe>
            </div>
            <br>
            <div class="well">{{video.description}}</div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="videoCtrl.ok()">Fechar</button>
</div>