<!-- MODAL HEADER -->
<div class="modal-header well well-md">
    <!-- CANCEL BUTTON -->
    <button type="button" class="close" aria-hidden="true" ng-click="audioCtrl.cancel()">&times;</button>
    <!-- MODAL TITLE -->
    <h4 class="modal-title">{{audioCtrl.band.name}} | Músicas</h4>
</div>

<!-- MODAL BODY -->
<div class="modal-body">
    <!-- ADD AUDIO -->
    <span ng-hide="audioCtrl.file" class="btn btn-primary pull-right" ngf-select
          ng-model="audioCtrl.file">Adicionar Música
    </span>
    <div class="panel panel-default" ng-show="audioCtrl.file">
        <!-- REMOVE SIGN -->
        <div class="panel-body">
            <label>Nome da Música</label>
            <input class="form-control" type="text" placeholder="Digite o nome da música..." ng-model="audioCtrl.newAudioName" required></input>
            <br>
            <audio ng-src="{{audioCtrl.file | ngfDataUrl | trusted}}" controls></audio>
            <br>
            <div ng-if="audioCtrl.progressBar"><uib-progressbar class="progress-striped" value="audioCtrl.progress" type="warning">{{audioCtrl.progress}}%</uib-progressbar></div>
            <hr>
            <button type="submit" class="btn btn-primary pull-right" ng-click="audioCtrl.submit()">Adicionar</button>
        </div>
    </div>
    <div class="clearfix"></div>
    <br>
    <div class="panel panel-default" ng-repeat="audio in audioCtrl.band.audios | filter:{isDeleted:'0'}">
        <div class="panel-heading">
            <h5><strong>{{audio.name}}</strong></h5>
        </div>
        <div class="panel-body">
            <audio ng-src="{{audioCtrl.baseUrl + '/' + audio.path | trusted}}" controls></audio>
            <a class="pull-right" ng-click="audioCtrl.removeAudio(audio)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="audioCtrl.save()">Salvar</button>
    <button type="button" class="btn btn-danger" ng-click="audioCtrl.cancel()">Cancelar</button>
</div>