<!-- MODAL HEADER -->
<div class="modal-header well well-md">
    <!-- CANCEL BUTTON -->
    <button type="button" class="close" aria-hidden="true" ng-click="photoCtrl.cancel()">&times;</button>
    <!-- MODAL TITLE -->
    <h4 class="modal-title">Culturapia | Fotos da Banda</h4>
</div>

<!-- MODAL BODY -->
<div class="modal-body">
    <!-- ADD PHOTO -->
    <span style="margin-top:-20px;" ng-hide="photoCtrl.file" class="btn btn-primary pull-right" ngf-select
          ng-model="photoCtrl.file"
          ngf-pattern="'image/*'"
          ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">Adicionar Imagem
    </span>
    <div ng-show="photoCtrl.file">
        <!-- REMOVE SIGN -->
        <img ng-src="{{photoCtrl.file | ngfDataUrl}}" class="img-responsive img-thumbnail center-block"
             alt="Responsive image">
        <br>
        <button type="submit" class="btn btn-primary pull-right" ng-click="photoCtrl.submit()">Adicionar</button>
    </div>
    <div class="clearfix"></div>
    <hr>
    <!-- VIDEO GRID -->

    <div class="row" style="padding: 20px;">
        <div class="col-md-6" ng-repeat="photo in photoCtrl.band.photos | filter:{isDeleted:'0'}">
            <img src="http://server.culturapia.com.br/{{photo.path}}" class="img-responsive img-thumbnail">
            <div class="trash-can">
                <button class="btn btn-default" ng-click="photoCtrl.removePhoto(photo)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="photoCtrl.cancel()">Fechar</button>
</div>