<!-- MODAL HEADER -->
<div class="modal-header well">
    <!-- CANCEL BUTTON -->
    <button type="button" class="close" aria-hidden="true" ng-click="editEventCtrl.cancel()">&times;</button>
    <!-- MODAL TITLE -->
    <h4 class="modal-title">Editar Evento</h4>
</div>

<!-- MODAL BODY -->
<div class="modal-body">
    <form ng-submit="editEventCtrl.save()">
        <div class="form-group">
            <label>Título</label>
            <input type="text" class="form-control" ng-model="editEventCtrl.event.title" placeholder="Título">
        </div>
        <div class="form-group">
            <label>Quando?</label>
            <div class="input-group">
                <input onkeydown="return false" type="text" class="form-control" uib-datepicker-popup="{{editEventCtrl.format}}"
                       ng-model="editEventCtrl.start"
                       is-open="editEventCtrl.popup.opened" datepicker-options="editEventCtrl.dateOptions"
                       ng-required="true"
                       close-text="Close">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="editEventCtrl.open()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
            <div uib-timepicker ng-model="editEventCtrl.start" hour-step="1" minute-step="5" show-meridian="false"></div>
        </div>
        <div class="form-group">
            <label>Onde?</label>
            <input type="text" class="form-control" placeholder="Onde será?" ng-model="editEventCtrl.event.local">
        </div>
        <div class="form-group">
            <label>O que?</label>
            <input type="text" class="form-control" placeholder="Descreva o evento."
                   ng-model="editEventCtrl.event.description">
        </div>
        <button type="button" class="btn btn-danger" ng-click="editEventCtrl.remove()">Excluir Evento</button>
        <button type="submit" class="btn btn-primary pull-right">Salvar</button>
        <div class="clearfix"></div>
    </form>
</div>

<!-- MODAL FOOTER -->
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="editEventCtrl.cancel()">Cancel</button>
</div>