<!-- MODAL HEADER -->
<div class="modal-header well well-md">
    <!-- CANCEL BUTTON -->
    <button type="button" class="close" aria-hidden="true" ng-click="photoAlbumCtrl.cancel()">&times;</button>
    <!-- MODAL TITLE -->
    <h4 class="modal-title">Culturapia | Fotos da Banda</h4>
</div>

<!-- MODAL BODY -->
<div class="modal-body" ng-hide="photoAlbumCtrl.photos.length">
    <div class="well">
        Essa banda ainda não possui fotos. Volte outro dia!
    </div>
</div>
<div class="modal-body" ng-if="photoAlbumCtrl.photos.length">
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous" ng-if="photoAlbumCtrl.index != 0" ng-click="photoAlbumCtrl.left()"><a><span aria-hidden="true">&larr;</span> Anterior</a></li>
            <li class="next" ng-if="photoAlbumCtrl.index < photoAlbumCtrl.length-1" ng-click="photoAlbumCtrl.right()"><a>Próximo <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="{{photoAlbumCtrl.baseUrl + '/' + photoAlbumCtrl.photos[photoAlbumCtrl.index].path | trusted}}"
                 class="img-responsive media-center">
        </div>
        <like-share-options current-ctrl="photoAlbumCtrl" content="photoAlbumCtrl.band.photos[photoAlbumCtrl.index]"></like-share-options>
    </div>
    <div class="well" ng-if="photoAlbumCtrl.photos[photoAlbumCtrl.index].description">
        {{photoAlbumCtrl.photos[photoAlbumCtrl.index].description}}
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="photoAlbumCtrl.cancel()">Fechar</button>
</div>