<!-- MODAL HEADER -->
<div class="modal-header well well-md">
    <!-- CANCEL BUTTON -->
    <button type="button" class="close" aria-hidden="true" ng-click="photoAlbumCtrl.cancel()">&times;</button>
    <!-- MODAL TITLE -->
    <h4 class="modal-title">Culturapia | Fotos da Banda</h4>
</div>

<!-- MODAL BODY -->
<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span ng-if="photoAlbumCtrl.index != 0" class="glyphicon glyphicon-chevron-left pull-left"
                  ng-click="photoAlbumCtrl.left()"></span>
            <span ng-if="photoAlbumCtrl.index < photoAlbumCtrl.length-1"
                  class="glyphicon glyphicon-chevron-right pull-right"
                  ng-click="photoAlbumCtrl.right()"></span>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <img src="http://server.culturapia.com.br/{{photoAlbumCtrl.photos[photoAlbumCtrl.index].path | trusted}}"
                 class="img-responsive" style="margin: auto">
        </div>
        <like-share-options current-ctrl="photoAlbumCtrl" content="photoAlbumCtrl.band.photos[photoAlbumCtrl.index]"></like-share-options>
    </div>
    <div class="container-fluid">
        {{photoAlbumCtrl.photos[photoAlbumCtrl.index].description}}
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="photoAlbumCtrl.cancel()">Fechar</button>
</div>