<!-- MODAL HEADER -->
<div class="modal-header well">
    <!-- CANCEL BUTTON -->
    <button type="button" class="close" aria-hidden="true" ng-click="quizCtrl.cancel()">&times;</button>
    <!-- MODAL TITLE -->
    <h4 class="modal-title">Enquete</h4>
</div>

<!-- MODAL BODY -->
<div class="modal-body">
    <button type="button" class="btn btn-primary pull-right" ng-if="!quizCtrl.questionForm"
            ng-click="quizCtrl.questionForm = !quizCtrl.questionForm">Adicionar Questão
    </button>

    <div ng-if="quizCtrl.questionForm">
        <label>Enunciado </label><span> (max. 1024 caracteres)</span>
        <br><br>
        <span class="input-group">
            <!-- ADD INPUT -->
            <input type="text" class="form-control" placeholder="Escreva sua pergunta" ng-model="quizCtrl.newQuestion.description"/>
            <!-- ADD BUTTON-->
            <span class="input-group-btn">
                <button class="btn btn-primaty" type="button"
                        ng-click="quizCtrl.addQuestion()"><span
                        class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            </span>
        </span>
    </div>


    <div class="clearfix"></div>
    <hr>

    <uib-accordion close-others="true">
        <div uib-accordion-group class="panel-default" ng-repeat="question in quizCtrl.band.questions">

            <div uib-accordion-heading>
                <button class="btn btn-success pull-right btn-xs" ng-if="question.isDeleted === '0'" ng-click="quizCtrl.deactivateQuestion(question)">Ativo</button>
                <button class="btn btn-danger pull-right btn-xs" ng-if="question.isDeleted === '1'" ng-click="quizCtrl.activateQuestion(question)">Inativo</button>
                <h5>{{question.description}}</h5>
                <div class="clearfix"></div>
            </div>

            <div ng-repeat="alternative in question.alternatives">
                <div class="well well-sm">
                    <button class="btn btn-success btn-xs col-lg-1" ng-if="alternative.isDeleted === '0'" ng-click="quizCtrl.deactivateAlternative(alternative)">Ativo</button>
                    <button class="btn btn-danger btn-xs col-lg-1" ng-if="alternative.isDeleted === '1'" ng-click="quizCtrl.activateAlternative(alternative)">Inativo</button>
                    <div class="col-lg-10 col-lg-offset-1">{{alternative.description}}</div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <span class="input-group">
                <!-- ADD INPUT -->
                <input type="text" class="form-control" placeholder="Escreva uma alternativa para a pergunta." ng-model="quizCtrl.newAlternative.description"/>
                    <!-- ADD BUTTON-->
                <span class="input-group-btn">
                    <button class="btn btn-primaty" type="button"
                            ng-click="quizCtrl.addAlternative(question)"><span
                            class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </span>
            </span>

        </div>
    </uib-accordion>

</div>

<!-- MODAL FOOTER -->
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="quizCtrl.cancel()">Fechar</button>
</div>