<!-- MODAL HEADER -->
<div class="modal-header well">
    <!-- CANCEL BUTTON -->
    <button type="button" class="close" aria-hidden="true" ng-click="quizCtrl.cancel()">&times;</button>
    <!-- MODAL TITLE -->
    <h4 class="modal-title">Enquete</h4>
</div>

<!-- MODAL BODY -->
<div class="modal-body">
    <button type="button" class="btn btn-primary pull-right" ng-if="!quizCtrl.questionForm && !quizCtrl.isDisabled"
            ng-click="quizCtrl.questionForm = !quizCtrl.questionForm">Adicionar Questão
    </button>
    <div class="text-center" ng-if="quizCtrl.isDisabled">Limite de perguntas ativas atingido.</div>

    <form ng-if="quizCtrl.questionForm">
        <label>Enunciado </label><span> (max. 1024 caracteres)</span>
        <br><br>
        <span class="input-group">
            <!-- ADD INPUT -->
            <input type="text" class="form-control" placeholder="Escreva sua pergunta" maxlength="1024" ng-model="quizCtrl.newQuestion.description"/>
            <!-- ADD BUTTON-->
            <span class="input-group-btn">
                <button class="btn btn-default btn-block"
                        ng-model="singleModel"
                        uib-btn-checkbox
                        btn-checkbox-true="1"
                        btn-checkbox-false="0"
                        class="btn btn-xs btn-danger"
                        mwl-confirm
                        title="Confirmar"
                        message="Este texto não poderá mais ser alterado ou excluído."
                        confirm-text="Confirmar"
                        cancel-text="Cancelar"
                        on-confirm="quizCtrl.addQuestion()"
                        confirm-button-type="danger"
                        placement="bottom"
                        popover-class=".confirmation"
                        cancel-button-type="default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </span>
        </span>
    </form>


    <div class="clearfix"></div>
    <hr>

    <uib-accordion close-others="true">
        <div uib-accordion-group class="panel-default" ng-repeat="question in quizCtrl.band.questions">

            <div uib-accordion-heading>
                    <a class="pull-right"
                    ng-model="singleModel"
                    uib-btn-checkbox
                    btn-checkbox-true="1"
                    btn-checkbox-false="0"
                    class="btn btn-xs btn-danger"
                    mwl-confirm
                    title="Confirmar Exclusão"
                    message="Deseja excluir este conteúdo?"
                    confirm-text="Confirmar"
                    cancel-text="Cancelar"
                    on-confirm="quizCtrl.removeQuestion(question)"
                    confirm-button-type="danger"
                    placement="bottom"
                    popover-class=".confirmation"
                    cancel-button-type="default">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
                <div>
                    <button class="btn btn-success pull-right btn-xs" ng-if="question.isDeleted === '0'" ng-click="quizCtrl.deactivateQuestion(question)">Ativo</button>
                    <button class="btn btn-danger pull-right btn-xs" ng-if="question.isDeleted === '1'" ng-click="quizCtrl.activateQuestion(question)">Inativo</button>
                </div>
                <h5>{{question.description}}</h5>
                <div class="clearfix"></div>
            </div>

            <div ng-repeat="alternative in question.alternatives">
                <div class="well well-sm">
                    <a class="pull-right"
                        ng-model="singleModel"
                        uib-btn-checkbox
                        btn-checkbox-true="1"
                        btn-checkbox-false="0"
                        class="btn btn-xs btn-danger"
                        mwl-confirm
                        title="Confirmar Exclusão"
                        message="Deseja excluir este conteúdo?"
                        confirm-text="Confirmar"
                        cancel-text="Cancelar"
                        on-confirm="quizCtrl.removeAlternative(alternative)"
                        confirm-button-type="danger"
                        placement="bottom"
                        popover-class=".confirmation"
                        cancel-button-type="default">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                    <button class="btn btn-success btn-xs col-lg-1" ng-if="alternative.isDeleted === '0'" ng-click="quizCtrl.deactivateAlternative(alternative)">Ativo</button>
                    <button class="btn btn-danger btn-xs col-lg-1" ng-if="alternative.isDeleted === '1'" ng-click="quizCtrl.activateAlternative(alternative, question)">Inativo</button>
                    <div class="col-lg-9 col-lg-offset-1">{{alternative.description}}</div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <form class="input-group">
                <!-- ADD INPUT -->
                <input type="text" class="form-control" placeholder="Escreva uma alternativa para a pergunta." maxlength="1024" ng-model="quizCtrl.newAlternative.description"/>
                    <!-- ADD BUTTON-->
                <span class="input-group-btn">
                    <button class="btn btn-default btn-block"
                            ng-model="singleModel"
                            uib-btn-checkbox
                            btn-checkbox-true="1"
                            btn-checkbox-false="0"
                            class="btn btn-xs btn-danger"
                            mwl-confirm
                            title="Confirmar"
                            message="Este texto não poderá mais ser alterado ou excluído."
                            confirm-text="Confirmar"
                            cancel-text="Cancelar"
                            on-confirm="quizCtrl.addAlternative(question)"
                            confirm-button-type="danger"
                            placement="bottom"
                            popover-class=".confirmation"
                            cancel-button-type="default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                </span>
            </form>

        </div>
    </uib-accordion>

</div>

<!-- MODAL FOOTER -->
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="quizCtrl.cancel()">Fechar</button>
</div>