<!-- MODAL HEADER -->
<div class="modal-header well">
    <!-- CANCEL BUTTON -->
    <button type="button" class="close" aria-hidden="true" ng-click="bandCtrl.cancel()">&times;</button>
    <!-- MODAL TITLE -->
    <h4 class="modal-title">Registrar Usuário</h4>
</div>

<!-- MODAL BODY -->
<div class="modal-body">
    <div class="thumbnail">
        <img src="../images/logo.jpg">
        <div class="caption text-center">
            <form class="form-group" ng-submit="registerCtrl.login()">
                <label>Email</label>
                <input type="email" class="form-control" required/>
                <label>Nome</label>
                <input type="text" class="form-control" required/>
                <label>Senha</label>
                <input type="password" class="form-control" required/>
                <label>Confirmar Senha</label>
                <input type="password" class="form-control" required/>
                <button class="btn btn-default btn-block" type="submit">Entrar</button>
            </form>
        </div>
    </div>

</div>

<!-- MODAL FOOTER -->
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="bandCtrl.save()">Save</button>
    <button type="button" class="btn btn-danger" ng-click="bandCtrl.cancel()">Cancel</button>
</div>