<!-- MODAL HEADER -->
<div class="modal-header well">
    <!-- CANCEL BUTTON -->
    <button type="button" class="close" aria-hidden="true" ng-click="registerCtrl.cancel()">&times;</button>
    <!-- MODAL TITLE -->
    <h4 class="modal-title">Registrar Usuário</h4>
</div>

<!-- MODAL BODY -->
<div class="modal-body">
    <img src="../images/logo.png" alt="" class="img-responsive img-rounded">
    <br>
    <form class="form-horizontal" ng-submit="registerCtrl.save()">
        <div class="form-group">
            <label class="control-label col-sm-3">Nome</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="registerCtrl.newUser.name" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Email</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" ng-model="registerCtrl.newUser.email" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Confirmar Email</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" ng-model="registerCtrl.confirmEmail" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Senha</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" minlength="6" maxlength="10" title="Sua senha deve ter no mínimo 6 caracteres e no máximo 10 caracteres."
                    ng-model="registerCtrl.password" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Confirmar Senha</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" ng-model="registerCtrl.confirmPassword" required/>
            </div>
        </div>

        <div class="checkbox pull-left">
            <label>
              <input type="checkbox" ng-model="registerCtrl.accept"> Concordo com os <a href="https://docs.google.com/document/d/1M5ElNyT74LBMAAquINq70IeIPwyQCCJmatT1j0fyPlU/edit" target="_blank">termos de uso</a>.
            </label>
          </div>
        <button class="btn btn-primary pull-right" type="submit" ng-disabled="!registerCtrl.accept">Cadastrar</button>
        <div class="clearfix"></div>
    </form>
</div>