<!-- MODAL HEADER -->
<div class="modal-header well">
    <!-- CANCEL BUTTON -->
    <button type="button" class="close" aria-hidden="true" ng-click="bandCtrl.cancel()">&times;</button>
    <!-- MODAL TITLE -->
    <h4 class="modal-title">Template</h4>
</div>

<!-- MODAL BODY -->
<div class="modal-body">

</div>

<!-- MODAL FOOTER -->
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="bandCtrl.save()">Save</button>
    <button type="button" class="btn btn-danger" ng-click="bandCtrl.cancel()">Cancel</button>
</div>