<!-- MODAL HEADER -->
<div class="modal-header well well-md">
    <!-- CANCEL BUTTON -->
    <button type="button" class="close" aria-hidden="true" ng-click="videoCtrl.cancel()">&times;</button>
    <!-- MODAL TITLE -->
    <h4 class="modal-title">{{videoCtrl.video.title}}
        <a ng-click="videoCtrl.band()">
            <small>{{videoCtrl.video.band}}</small>
        </a>
    </h4>
</div>

<!-- MODAL BODY -->
<div class="modal-body">

    <!-- VIDEOS -->
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
                src="{{'https://www.youtube.com/embed/'+videoCtrl.video.videoId | trusted}}"></iframe>
    </div>
    <like-share-options current-ctrl="videoCtrl" content="videoCtrl.video"></like-share-options>
    <br>
    <div class="well">
        {{videoCtrl.video.description}}
    </div>
    <button class="btn btn-primary btn-block" ng-click="videoCtrl.band()">
        Visitar Banda
    </button>
</div>