<div class="row">
    <!-- LEFT COLUMN -->
    <div class="col-md-3">
        <div ng-include="'views/admin-menu.html'"></div>
    </div>

    <!-- CENTER COLUMN -->
    <div class="col-md-9">
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Moderação</b>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <td class="col-md-2"><b>Banda</b></td>
                        <td class="col-md-2"><b>Tipo</b></td>
                        <td class="col-md-4"><b>Identificador</b></td>
                        <td class="col-md-2"><b>Denúncias</b></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-class="{success:report.status === '0', danger:report.status === '1'}"
                        ng-repeat="(mediaId, report) in adminModerationCtrl.reports['Video']"
                        ng-click="adminModerationCtrl.openReport(report)">
                        <td>{{report.bandId}}</td>
                        <td>{{report.mediaType}}</td>
                        <td>{{mediaId}}</td>
                        <td>{{report.count}}</td>
                    </tr>
                    <tr ng-class="{success:report.status === '0', danger:report.status === '1'}"
                        ng-repeat="(mediaId, report) in adminModerationCtrl.reports['Foto']"
                        ng-click="adminModerationCtrl.openReport(report)">
                        <td>{{report.bandId}}</td>
                        <td>{{report.mediaType}}</td>
                        <td>{{mediaId}}</td>
                        <td>{{report.count}}</td>
                    </tr>
                    <tr ng-class="{success:report.status === '0', danger:report.status === '1'}"
                        ng-repeat="(mediaId, report) in adminModerationCtrl.reports['Postagem']"
                        ng-click="adminModerationCtrl.openReport(report)">
                        <td>{{report.bandId}}</td>
                        <td>{{report.mediaType}}</td>
                        <td>{{mediaId}}</td>
                        <td>{{report.count}}</td>
                    </tr>
                    <tr ng-class="{success:report.status === '0', danger:report.status === '1'}"
                        ng-repeat="(mediaId, report) in adminModerationCtrl.reports['Pergunta']"
                        ng-click="adminModerationCtrl.openReport(report)">
                        <td>{{report.bandId}}</td>
                        <td>{{report.mediaType}}</td>
                        <td>{{mediaId}}</td>
                        <td>{{report.count}}</td>
                    </tr>
                    <tr ng-class="{success:report.status === '0', danger:report.status === '1'}"
                        ng-repeat="(mediaId, report) in adminModerationCtrl.reports['Foto de Perfil']"
                        ng-click="adminModerationCtrl.openReport(report)">
                        <td>{{report.bandId}}</td>
                        <td>{{report.mediaType}}</td>
                        <td>{{mediaId}}</td>
                        <td>{{report.count}}</td>
                    </tr>
                    <tr ng-class="{success:report.status === '0', danger:report.status === '1'}"
                        ng-repeat="(mediaId, report) in adminModerationCtrl.reports['Evento']"
                        ng-click="adminModerationCtrl.openReport(report)">
                        <td>{{report.bandId}}</td>
                        <td>{{report.mediaType}}</td>
                        <td>{{mediaId}}</td>
                        <td>{{report.count}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
