<br>
<div class="panel panel-default panel-user-home" ng-controller="AdminMenuCtrl as adminMenuCtrl">
    <!-- USER IDENTIFICATION -->
    <div class="panel-heading">
        <h2 class="panel-title"><b>Bem-vindo, {{$root.admin.name}}!</b></h2>
    </div>
    <!-- MENU -->
    <div class="panel-body">
        <button type="button" class="btn btn-default btn-lg btn-block" ng-click="adminMenuCtrl.manage()">
            <div class="text-left">Administradores</span>
        </button>
        <button type="button" class="btn btn-default btn-lg btn-block" ng-click="adminMenuCtrl.moderation()">
            <div class="text-left">Moderação</span>
        </button>
        <button type="button" class="btn btn-default btn-lg btn-block" ng-click="adminMenuCtrl.lists()">
            <div class="text-left">Listas</span>
        </button>
        <button type="button" class="btn btn-default btn-lg btn-block" ng-click="adminMenuCtrl.types()">
            <div class="text-left">Tipos</span>
        </button>
        <button type="button" class="btn btn-default btn-lg btn-block" ng-click="adminMenuCtrl.logout()">
            <div class="text-left">Sair</span>
        </button>
    </div>
</div>