<br>
<div class="panel panel-default panel-user-home" ng-controller="AdminMenuCtrl as adminMenuCtrl">
    <!-- USER IDENTIFICATION -->
    <div class="panel-heading">
        <h2 class="panel-title"><b>Bem-vindo, {{$root.admin.name}}!</b></h2>
    </div>
    <!-- MENU -->
    <div class="panel-body">
        <button type="button" class="btn btn-default btn-lg btn-block"
                ng-click="adminMenuCtrl.moderation()">Moderação
        </button>
        <button type="button" class="btn btn-default btn-lg btn-block" ng-click="adminMenuCtrl.lists()">
            Listas
        </button>
        <button type="button" class="btn btn-default btn-lg btn-block" ng-click="adminMenuCtrl.manage()">
            Administradores
        </button>
        <button type="button" class="btn btn-default btn-lg btn-block" ng-click="adminMenuCtrl.logout()">
            Sair
        </button>
    </div>
</div>