<div class="row">
    <!-- LEFT COLUMN -->
    <div class="col-md-2">

    </div>

    <!-- CENTER COLUMN -->
    <div class="col-md-8">
        <img src="../images/logo.jpg" alt="" class="img-responsive img-rounded">
        <!-- CAROUSEL -->
        <!--div ng-controller="CarouselCtrl as carousel">
            <div uib-carousel active="carousel.active" interval="carousel.myInterval" no-wrap="carousel.noWrapSlides">
                <div uib-slide ng-repeat="slide in carousel.slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" class="center-block">
                    <div class="carousel-caption">
                        <h4>Slide {{slide.id}}</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </div>
            </div>
        </div-->

        <br>

        <nav class="panel panel-default">
            <div class="panel-heading">
                <form class="row">
                    <div class="form-group col-md-6">
                        <label>Estado:</label>

                        <select class="form-control"
                                ng-model="bandsCtrl.state"
                                ng-change="bandsCtrl.setState()">
                            <option ng-value="''"></option>
                            <option ng-repeat="state in bandsCtrl.states" ng-value="$index">{{state.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Cidade:</label>
                        <select class="form-control"
                                ng-model="bandsCtrl.search.city">
                            <option ng-value="''"></option>
                            <option ng-repeat="city in bandsCtrl.cities" ng-value="$index">{{city}}</option>
                        </select>
                    </div>
                </form>
            </div>
        </nav>

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default center-block btn-group-padding"
                        ng-click="bandsCtrl.filterAll()"><span class="btn-group-font-size">All</span>
                </button>
            </div>
            <div class="btn-group" role="group" ng-repeat="letter in bandsCtrl.alphabet">
                <button type="button" class="btn btn-default text-capitalize btn-group-padding"
                        ng-click="bandsCtrl.filter(letter)"><span class="btn-group-font-size">{{letter}}</span>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default center-block btn-group-padding"
                        ng-click="bandsCtrl.filterNumbers()"><span class="btn-group-font-size">#</span>
                </button>
            </div>
        </div>

        <hr/>

        <div class="col-md-6" ng-repeat="band in bandsCtrl.filteredBands | filter:bandsCtrl.search" style="padding: 5px">
            <button ng-click="bandsCtrl.goBand(band)"
                    type="button"
                    class="btn btn-default btn-block">{{band.name}}
            </button>
        </div>


    </div>


    <!-- RIGHT COLUMN -->
    <div class="col-md-2"></div>
</div>