<div class="row">
    <!-- LEFT COLUMN -->
    <div class="col-md-2">

    </div>

    <!-- CENTER COLUMN -->
    <div class="col-md-8">
        <img src="../images/logo.png" alt="" class="img-responsive logo">
        <br>

        <nav>
            <form class="row">
                <div class="form-group col-md-6">
                    <label>Estado:</label>
                    <select class="form-control filter" ng-model="bandsCtrl.state" ng-change="bandsCtrl.setState()">
                            <option class="filter" ng-value="''"></option>
                            <option class="filter" ng-repeat="state in bandsCtrl.states" ng-value="$index.toString()">{{state.name}}
                            </option>
                        </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Cidade:</label>
                    <select class="form-control filter" ng-model="bandsCtrl.search.city" ng-change="bandsCtrl.clear('city')">
                            <option class="filter" ng-value="''"></option>
                            <option class="filter" ng-repeat="city in bandsCtrl.cities" ng-value="$index.toString()">{{city}}</option>
                        </select>
                </div>
            </form>
        </nav>

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default center-block btn-group-padding"
                        ng-click="bandsCtrl.filterAll()"><span class="btn-group-font-size">All</span>
                </button>
            </div>
            <div class="btn-group" role="group" ng-repeat="letter in bandsCtrl.alphabet">
                <button type="button" class="btn btn-default text-capitalize btn-group-padding"
                        ng-click="bandsCtrl.filter(letter)"><span class="btn-group-font-size">{{letter}}</span>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default center-block btn-group-padding"
                        ng-click="bandsCtrl.filterNumbers()"><span class="btn-group-font-size">#</span>
                </button>
            </div>
        </div>

        <hr/>

        <div class="col-md-6" ng-repeat="band in bandsCtrl.filteredBands | filter:bandsCtrl.search:true" style="padding: 0; border-radius: 0">
            <button ng-click="bandsCtrl.goBand(band)" style="border-radius: 0; text-align: left; border: 1px black solid"
                    type="button"
                    class="btn btn-default btn-block text-capitalize">{{band.name}}
            </button>
        </div>


    </div>


    <!-- RIGHT COLUMN -->
    <div class="col-md-2"></div>
</div>