<div class="row">
    <!-- LEFT COLUMN -->
    <div class="menu col-lg-3 col-md-12">
        <img ng-if="!bandCtrl.band.profilePicture" src="../images/logo2.png" alt="" class="img-responsive img-rounded"/>
        <img ng-if="bandCtrl.band.profilePicture" class="img-responsive img-thumbnail center-block"
             src="http://server.culturapia.com.br/{{bandCtrl.band.profilePicture.path | trusted}}"/>
        <br>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group" ng-click="$event.stopPropagation()">
                <button ng-class="{'btn':true, 'btn-info':bandCtrl.band.likedByUser, 'btn-default':!bandCtrl.band.likedByUser}"
                        ng-click="bandCtrl.likedContent(bandCtrl.band)">{{bandCtrl.band.likes.length}} <span
                        class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
            </div>
            <div class="btn-group" role="group" ng-click="$event.stopPropagation()">
                <button ng-class="{'btn':true, 'btn-default':true}"
                        ng-click="bandCtrl.feed({title: bandCtrl.band.name, description: bandCtrl.band.about, bandId: bandCtrl.band.bandId})"><span
                        class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button>
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4><strong>{{bandCtrl.band.name}}</strong></h4>
            </div>
            <div class="list-group">
                <button type="button" class="list-group-item" ng-click="bandCtrl.bandDetails()">Informações <span class="glyphicon glyphicon-info-sign pull-right"></span></button>
                <button type="button" class="list-group-item" ng-click="bandCtrl.photoAlbum()">Fotos <span class="glyphicon glyphicon-picture pull-right"></span></button>
            </div>
        </div>
        <div ng-if="bandCtrl.showCalendar" class="panel panel-default notice-padding">
            <div ui-calendar="bandCtrl.uiConfig.calendar" ng-model="bandCtrl.eventSources"></div>
        </div>
    </div>

    <!-- CENTER COLUMN -->
    <div class="col-lg-6 col-md-12">
        <video-card current-controller="bandCtrl" video="bandCtrl.videos[0]" ng-if="bandCtrl.videos[0]">
            <div class="embed-responsive embed-responsive-16by9 video">
                <iframe class="embed-responsive-item"
                        src="{{'https://www.youtube.com/embed/'+bandCtrl.videos[0].videoId | trusted}}"></iframe>
            </div>
        </video-card>
        <div class="panel panel-default"
             ng-repeat="notice in bandCtrl.band.notices | filter:{isDeleted:'0', isReported:'0'} | orderBy:date:true ">
            <div class="panel-body">
                <div class="media">
                    <span class="text-muted pull-right">
                        <small class="text-muted">em {{notice.date | date : 'dd/MM/yyyy'}} as {{notice.date | date : 'hh:mm'}}</small>
                    </span>
                    <strong class="media-heading">@ {{bandCtrl.band.name}}</strong>
                    <hr>
                    <div class="media-body">
                        <p class="well text-justify">{{notice.notice}}</p>
                    </div>
                </div>
            </div>
            <like-share-options current-ctrl="bandCtrl" content="notice"></like-share-options>
        </div>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="col-lg-3 col-md-12">
        <!-- Player -->
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Lista de Músicas</h4>
                <br>
                <div class="input-group" ng-repeat="song in bandCtrl.band.musics">
                    <h5>
                        {{song.title}}
                    </h5>
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" add-song="song" music-player="play">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" add-song="song" music-player>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--Videos -->
        <div ng-if="!$first"
             ng-repeat="video in bandCtrl.videos | filter:{isDeleted:'0', isReported:'0'}">
            <video-card current-controller="bandCtrl" video="video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            src="{{'https://www.youtube.com/embed/'+video.videoId | trusted}}"></iframe>
                </div>
            </video-card>
        </div>
        <br>

    </div>
</div>
