<div class="row">
    <!-- LEFT COLUMN -->
    <div class="menu col-md-3">
        <img class="img-responsive img-thumbnail center-block"
             src="http://server.culturapia.com.br/{{bandCtrl.band.profilePicture.path | trusted}}"/>
        <br/>
        <button class="btn btn-lg btn-facebook btn-block" ng-click="bandCtrl.feed()">
            Compartilhar
        </button>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-default pull-right"><span
                        class="glyphicon glyphicon-picture glyphicon-th-large" ng-click="bandCtrl.photoAlbum()"></span></button>
                <h4><strong>{{bandCtrl.band.name}}</strong></h4>
            </div>
            <div class="panel-body">
                <label class="col-md-4">Cidade</label>
                <p class="col-md-8">{{bandCtrl.band.city}}</p>
                <label class="col-md-4">Estado</label>
                <p class="col-md-8">{{bandCtrl.band.state}}</p>
                <label class="col-md-4">Fundação</label>
                <p class="col-md-8">{{bandCtrl.band.foundation | date:'dd/MM/yyyy'}}</p>
                <label class="col-md-4">História</label>
                <p class="col-md-8">{{bandCtrl.band.about}}</p>
                <label class="col-md-4">Membros</label>
                <p ng-class="{'col-md-8':true, 'col-md-offset-4':!$first, 'text-capitalize':true}"
                   ng-repeat="member in bandCtrl.band.members">{{member}}</p>
                <label class="col-md-4">Estilos</label>
                <p ng-class="{'col-md-8':true, 'col-md-offset-4':!$first, 'text-capitalize':true}"
                   ng-repeat="style in bandCtrl.band.styles">{{style}}</p>
                <p></p>
                <label class="col-md-4">Influências</label>
                <p ng-class="{'col-md-8':true, 'col-md-offset-4':!$first, 'text-capitalize':true}"
                   ng-repeat="influence in bandCtrl.band.influences">{{influence}}</p>
            </div>
        </div>
    </div>

    <!-- CENTER COLUMN -->
    <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item img-thumbnail"
                    src="{{'https://www.youtube.com/embed/'+bandCtrl.band.videos[0].videoId | trusted}}"></iframe>
            <button ng-class="{'btn':true, 'btn-info':bandCtrl.band.videos[0].likedByUser, 'btn-default':!bandCtrl.band.videos[0].likedByUser, 'like':true}"
                    ng-click="bandCtrl.likedContent(bandCtrl.band.videos[0])">
                {{bandCtrl.band.videos[0].likes.length}}
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            </button>
        </div>
        <br>
        <div class="panel panel-default" style="padding: 10pt"
             ng-repeat="notice in bandCtrl.band.notices | filter:{isDeleted:'0'} | orderBy:date:true ">
            <div class="media">
                <a href="#" class="media-left">
                    <img ng-src="http://server.culturapia.com.br/{{bandCtrl.band.profilePicture.path | trusted}}" alt=""
                         class="media-object img-thumbnail" style="height: 80px">
                </a>
                <div class="media-body">
                    <span class="text-muted pull-right">
                        <small class="text-muted">em {{notice.date | date : 'dd/MM/yyyy'}} as {{notice.date | date : 'hh:mm'}}</small>
                    </span>
                    <strong class="media-heading">@ {{bandCtrl.band.name}}</strong>
                    <p class=" text-justify">{{notice.notice}}</p>
                    <button ng-class="{'btn':true, 'btn-info':notice.likedByUser, 'btn-default':!notice.likedByUser, 'pull-right':true}"
                            ng-click="bandCtrl.likedContent(notice)">
                        {{notice.likes.length}}
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 ng-if="currentPlaying">{{ currentPlaying.title }}
                    <small>({{ currentPostion }} / {{ currentDuration }})</small>
                </h4>
            </div>
            <div class="panel-body">

                <div class="progress" seek-track>
                    <div class="progress-bar" ng-style="{width : ( progress + '%' ) }"></div>
                </div>

                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" play-music><span class="glyphicon glyphicon-play"
                                                                                       aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" pause-music><span
                                class="glyphicon glyphicon-pause" aria-hidden="true"></span></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" stop-music><span class="glyphicon glyphicon-stop"
                                                                                       aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" mute-music><span
                                class="glyphicon glyphicon-volume-off"
                                aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-default" music-volume data-type="decrease"><span
                                class="glyphicon glyphicon-volume-down"
                                aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-default" music-volume data-type="increase"><span
                                class="glyphicon glyphicon-volume-up"
                                aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <hr>
                <h4>Lista de Músicas</h4>

                <div class="list-group">
                    <button type="button" class="list-group-item" add-song="song"
                            ng-repeat="song in bandCtrl.band.musics"
                            ng-click="bandCtrl.currentSong = song" music-player="play">
                        {{song.title}}
                    </button>
                </div>
            </div>
        </div>
        <div ng-if="!$first"
             ng-repeat="video in bandCtrl.band.videos | filter:{isDeleted:'0'}">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item img-thumbnail"
                        src="{{'https://www.youtube.com/embed/'+video.videoId | trusted}}"></iframe>
                <button ng-class="{'btn':true, 'btn-info':video.likedByUser, 'btn-default':!video.likedByUser, 'like':true}"
                        ng-click="bandCtrl.likedContent(video)">
                    {{video.likes.length}}
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                </button>
            </div>
            <br>

        </div>
    </div>
</div>
