<div class="row">
    <!-- LEFT COLUMN -->
    <div class="col-md-2"></div>

    <!-- CENTER COLUMN -->
    <div class="col-md-8">
        <!-- CAROUSEL -->
        <div ng-controller="CarouselCtrl as carousel">
            <div uib-carousel active="carousel.active" interval="carousel.myInterval" no-wrap="carousel.noWrapSlides">
                <div uib-slide ng-repeat="slide in carousel.slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" class="center-block">
                    <div class="carousel-caption">
                        <h4>Slide {{slide.id}}</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <!-- FILTER -->
        <nav class="panel panel-default">
            <div class="panel-heading">
                <form class="row">
                    <div class="form-group col-md-4">
                        <label>Estado:</label>
                        <select class="form-control"
                                ng-model="homeCtrl.state"
                                ng-change="homeCtrl.setState()">
                            <option ng-value="homeCtrl.default.value">{{homeCtrl.default.state}}</option>
                            <option ng-repeat="state in homeCtrl.states" ng-value="$index">{{state.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Cidade:</label>
                        <select class="form-control"
                                ng-model="homeCtrl.search.city">
                            <option ng-value="homeCtrl.default.value">{{homeCtrl.default.city}}</option>
                            <option ng-repeat="city in homeCtrl.cities" ng-value="city">{{city}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Estilo:</label>
                        <select class="form-control"
                                ng-model="homeCtrl.search.style">
                            <option ng-value="homeCtrl.default.value">{{homeCtrl.default.style}}</option>
                            <option ng-repeat="style in homeCtrl.styles" ng-value="style">{{style}}</option>
                        </select>
                    </div>
                </form>
            </div>
        </nav>

        <br/>
        <!-- VIDEO GRID -->
        <div>
            <div class="row" ng-if="homeCtrl.videos">
                <div class="col-sm-6 col-md-4" ng-repeat="video in homeCtrl.videos | filter:homeCtrl.search">
                    <div class="thumbnail" ng-click="homeCtrl.openVideo(video)">
                        <img ng-src="{{'http://img.youtube.com/vi/'+video.videoId+'/mqdefault.jpg'}}"
                             class="img-responsive">
                        <div class="caption link">
                            <h4>{{video.title}}</h4>
                            <p>{{video.band}}</p>
                        </div>
                        <button ng-class="{'btn':true, 'btn-info':video.likedByUser, 'btn-default':!video.likedByUser, 'like-thumbnail':true}"
                                ng-click="homeCtrl.likedContent(video)">{{video.likes.length}} <span
                                class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="col-md-2"></div>
</div>

