<div class="row">
    <!-- LEFT COLUMN -->
    <div class="col-md-2"></div>

    <!-- CENTER COLUMN -->
    <div class="col-md-8">
        <!-- LOGO -->
        <img src="../images/logo.png" alt="" class="img-responsive logo">
        <br/>
        <!-- FILTER -->
        <nav>
            <form class="row">
                <div class="form-group col-md-4">
                    <label>Estado:</label>
                    <select class="form-control filter" ng-model="homeCtrl.state" ng-change="homeCtrl.setState()">
                            <option class="filter" ng-value="''"></option>
                            <option class="filter" ng-repeat="state in homeCtrl.states" ng-value="$index">{{state.name}}
                            </option>
                        </select>
                </div>
                <div class="form-group col-md-4">
                    <label>Cidade:</label>
                    <select class="form-control filter" ng-model="homeCtrl.search.city">
                            <option class="filter" ng-value="''"></option>
                            <option class="filter" ng-repeat="city in homeCtrl.cities" ng-value="$index">{{city}}</option>
                        </select>
                </div>
                <div class="form-group col-md-4">
                    <label>Estilo:</label>
                    <select class="form-control filter text-capitalize" ng-model="homeCtrl.search.style">
                            <option class="filter" ng-value="''"></option>
                            <option class="filter" class="text-capitalize" ng-repeat="style in homeCtrl.styles" ng-value="style.style">
                                {{style.style}}
                            </option>
                        </select>
                </div>
            </form>
        </nav>

        <hr>
        <br>

        <!-- VIDEO GRID -->
        <div infinite-scroll="homeCtrl.nextPage()" infinite-scroll-disabled="homeCtrl.busy">
            <div class="row" ng-if="homeCtrl.videos">
                <div class="col-sm-4 col-xs-6" ng-repeat="video in homeCtrl.videos | filter:homeCtrl.search">
                    <video-card current-controller="homeCtrl" video="video">
                        <img ng-src="{{'http://img.youtube.com/vi/'+video.videoId+'/mqdefault.jpg'}}" class="img-responsive">
                    </video-card>
                </div>
            </div>
            <div class="panel panel-default loading-padding" ng-if="homeCtrl.busy">
                <div class="media">
                    <div class="media-body">
                        <strong class="media-heading">Carregando...</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="col-md-2"></div>
</div>