<div class="row">
    <!-- LEFT COLUMN -->
    <div class="col-md-2"></div>

    <!-- CENTER COLUMN -->
    <div class="col-md-8">
        <!-- CAROUSEL -->
        <img src="../images/logo.png" alt="" class="img-responsive img-rounded">
        <br/>
        <!-- FILTER -->
        <nav class="panel panel-default">
            <div class="panel-heading">
                <form class="row">
                    <div class="form-group col-md-4">
                        <label>Estado:</label>
                        <select class="form-control"
                                ng-model="homeCtrl.state"
                                ng-change="homeCtrl.setState()">
                            <option ng-value="''"></option>
                            <option ng-repeat="state in homeCtrl.states" ng-value="$index">{{state.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Cidade:</label>
                        <select class="form-control"
                                ng-model="homeCtrl.search.city">
                            <option ng-value="''"></option>
                            <option ng-repeat="city in homeCtrl.cities" ng-value="$index">{{city}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Estilo:</label>
                        <select class="form-control text-capitalize"
                                ng-model="homeCtrl.search.style">
                            <option ng-value="''"></option>
                            <option class="text-capitalize" ng-repeat="style in homeCtrl.styles" ng-value="style.style">
                                {{style.style}}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
        </nav>

        <!-- VIDEO GRID -->
        <div>
            <div class="row" ng-if="homeCtrl.videos">
                <div class="col-sm-4 col-xs-6" ng-repeat="video in homeCtrl.videos | filter:homeCtrl.search">
                    <video-card current-controller="homeCtrl" video="video">
                        <img ng-src="{{'http://img.youtube.com/vi/'+video.videoId+'/mqdefault.jpg'}}"
                             class="img-responsive">
                    </video-card>
                </div>
            </div>
        </div>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="col-md-2"></div>
</div>

