<div id="fb-root"></div>

<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div class="thumbnail">
            <img src="../images/logo.jpg">
            <div class="caption text-center">
                <h2>Área do Usuário</h2>
                <hr/>
                <p>Faça login para acessar esta seção.</p>
                <hr/>
                <button class=" btn btn-lg btn-facebook"
                        ng-click="loginCtrl.login()">
                    <i class="fa fa-facebook"></i>
                    Login com o Facebook
                </button>
            </div>
        </div>
    </div>
</div>


