<div id="fb-root"></div>

<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div class="thumbnail">
            <img src="../images/mankey.jpg">
            <div class="caption text-center">
                <h2>Área do Usuário</h2>
                <hr/>
                <p>Faça login para acessar esta seção.</p>
                <hr/>
                <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false"
                     data-auto-logout-link="false"></div>            </div>
        </div>
    </div>
</div>


