<div class="row">
    <!-- LEFT COLUMN -->
    <div class="menu col-md-3">
        <div class="band-profile-pic" ng-if="myBandCtrl.band">
            <img ng-if="!myBandCtrl.band.profilePicture" src="../images/profilePic.jpg" alt=""
                 class="img-responsive img-rounded"/>
            <img ng-if="myBandCtrl.band.profilePicture" class="img-responsive img-thumbnail center-block"
                 src="http://server.culturapia.com.br/{{myBandCtrl.band.profilePicture.path | trusted}}"/>
            <button class="btn btn-default" ng-click="myBandCtrl.profilePicture()"><span
                    class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
        </div>
        <br/>
        <a href="/#/bands/{{myBandCtrl.band.bandId}}" target="_blank"><button type="button" class="btn btn-primary btn-block">Visualizar Página</button></a>
        <br/>
        <div class="list-group">
            <button type="button" class="list-group-item" ng-click="myBandCtrl.info()">Informações</button>
            <button type="button" class="list-group-item" ng-click="myBandCtrl.videos()">Vídeos</button>
            <button type="button" class="list-group-item" ng-click="myBandCtrl.photos()">Fotos</button>
            <button type="button" class="list-group-item" ng-click="myBandCtrl.audios()">Músicas</button>
            <button type="button" class="list-group-item" ng-click="myBandCtrl.stats()">Estatísticas</button>
        </div>
    </div>

    <!-- CENTER COLUMN -->
    <div class="col-md-6">
        <form class="form-group">
            <textarea class="form-control textarea" rows="6" placeholder="O que está pensando?"
                      ng-model="myBandCtrl.newNotice.notice"></textarea>
            <br>
            <button type="submit" class="btn btn-primary pull-right" ng-click="myBandCtrl.addNotice()">Enviar
            </button>
        </form>
        <div class="clearfix"></div>
        <br>

        <div class="panel panel-default notice-padding"
             ng-repeat="notice in myBandCtrl.band.notices | filter:{isDeleted:'0'} | orderBy:date:true ">
            <div class="media">
                <div class="media-body">
                    <span class="text-muted pull-right">
                        <small class="text-muted">em {{notice.date | date : 'dd/MM/yyyy'}} as {{notice.date | date : 'hh:mm'}}</small>
                    </span>
                    <strong class="media-heading">@ {{myBandCtrl.band.name}}</strong>
                    <hr>
                    <p class="text-justify well">{{notice.notice}}</p>
                    <a class="pull-right" ng-click="myBandCtrl.removeNotice(notice)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="col-md-3">
        <div ng-if="myBandCtrl.showCalendar" class="panel panel-default notice-padding">
            <div ui-calendar="myBandCtrl.uiConfig.calendar" ng-model="myBandCtrl.eventSources"></div>
            <br>
            <div class="panel-footer video-card-footer">
                <button type="button" class="btn btn-primary btn-block" ng-click="myBandCtrl.addEvent()">Adicionar
                    Evento
                </button>
            </div>
        </div>
        <div ng-include="'views/includes/player.html'">

        </div>
    </div>
</div>
