<div class="row">
    <!-- LEFT COLUMN -->
    <div class="menu col-md-3">
        <div class="band-profile-pic" ng-if="myBandCtrl.band" >
            <img class="img-responsive img-thumbnail" ng-src="http://server.culturapia.com.br/{{myBandCtrl.band.profilePicture.path | trusted}}"/>
            <button class="btn btn btn-default" ng-click="myBandCtrl.profilePicture()"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
        </div>
        <br/>
        <div class="list-group">
            <button type="button" class="list-group-item" ng-click="myBandCtrl.info()">Informações</button>
            <button type="button" class="list-group-item" ng-click="myBandCtrl.videos()">Vídeos</button>
            <button type="button" class="list-group-item" ng-click="myBandCtrl.photos()">Fotos</button>
            <button type="button" class="list-group-item" ng-click="myBandCtrl.audios()">Músicas</button>
            <!--button type="button" class="list-group-item" ng-click="myBandCtrl.config()">Configuração</button-->
        </div>
    </div>

    <!-- CENTER COLUMN -->
    <div class="col-md-6">
        <form class="form-group">
            <textarea class="form-control textarea" rows="6" placeholder="O que está pensando?"
                      ng-model="myBandCtrl.newNotice.notice"></textarea>
            <div class="notice-btn">
                <button type="submit" class="btn btn-primary pull-right" ng-click="myBandCtrl.addNotice()">Enviar
                </button>
            </div>
        </form>
        <div class="clearfix"></div>
        <br>

            <div class="panel panel-default" style="padding: 10pt" ng-repeat="notice in myBandCtrl.band.notices | filter:{isDeleted:'0'} | orderBy:date:true ">
                <div class="media">
                    <a href="#" class="media-left">
                        <img src="http://server.culturapia.com.br/{{myBandCtrl.band.profilePicture.path | trusted}}" alt=""
                             class="media-object img-thumbnail" style="height: 80px">
                    </a>
                    <div class="media-body">
                    <span class="text-muted pull-right">
                        <small class="text-muted">em {{notice.date | date : 'dd/MM/yyyy'}} as {{notice.date | date : 'hh:mm'}}</small>
                    </span>
                        <strong class="media-heading">@ {{myBandCtrl.band.name}}</strong>
                        <p class=" text-justify">{{notice.notice}}</p>
                        <a class="pull-right" ng-click="myBandCtrl.removeNotice(notice)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="col-md-3">
        <div ng-include="'views/includes/player.html'">

        </div>
    </div>
</div>
