<div class="row">
    <!-- LEFT COLUMN -->
    <div class="col-md-2"></div>

    <!-- CENTER COLUMN -->
    <div class="col-md-8">
        <div class="panel panel-default panel-user-home">
            <!-- USER IDENTIFICATION -->
            <div class="panel-heading">
                <h2 class="panel-title"><b>Bem-vindo, {{myHomeCtrl.user.name}}!</b></h2>
            </div>
            <!-- MENU -->
            <div class="panel-body">
                <div></div>
                <p>
                    <a href="#/my-band">
                        <button type="button" class="btn btn-default btn-lg btn-block">Minha Banda</button>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="col-md-2"></div>
</div>